<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>h1fname</key>
	<string></string>
	<key>h1lname</key>
	<string></string>
	<key>h1position</key>
	<string></string>
	<key>h1pa</key>
	<integer>0</integer>
	<key>h1hits</key>
	<integer>0</integer>
	<key>h1runs</key>
	<integer>0</integer>
	<key>h1rbi</key>
	<integer>0</integer>
	<key>h1ba</key>
	<integer>0</integer>
	<key>h1hr</key>
	<integer>0</integer>
	<key>h2fname</key>
	<string></string>
	<key>h2lname</key>
	<string></string>
	<key>h2position</key>
	<string></string>
	<key>h2pa</key>
	<integer>0</integer>
	<key>h2hits</key>
	<integer>0</integer>
	<key>h2runs</key>
	<integer>0</integer>
	<key>h2rbi</key>
	<integer>0</integer>
	<key>h2ba</key>
	<integer>0</integer>
	<key>h2hr</key>
	<integer>0</integer>
	<key>h3fname</key>
	<string></string>
	<key>h3lname</key>
	<string></string>
	<key>h3position</key>
	<string></string>
	<key>h3pa</key>
	<string></string>
	<key>h3hits</key>
	<string></string>
	<key>h3runs</key>
	<string></string>
	<key>h3rbi</key>
	<string></string>
	<key>h3ba</key>
	<string></string>
	<key>h3hr</key>
	<string></string>
	<key>h4fname</key>
	<string></string>
	<key>h4lname</key>
	<string></string>
	<key>h4position</key>
	<string></string>
	<key>h4pa</key>
	<string></string>
	<key>h4hits</key>
	<string></string>
	<key>h4runs</key>
	<string></string>
	<key>h4rbi</key>
	<string></string>
	<key>h4ba</key>
	<string></string>
	<key>h4hr</key>
	<string></string>
	<key>h5fname</key>
	<string></string>
	<key>h5lname</key>
	<string></string>
	<key>h5position</key>
	<string></string>
	<key>h5pa</key>
	<string></string>
	<key>h5hits</key>
	<string></string>
	<key>h5runs</key>
	<string></string>
	<key>h5rbi</key>
	<string></string>
	<key>h5ba</key>
	<string></string>
	<key>h5hr</key>
	<string></string>
	<key>h6fname</key>
	<string></string>
	<key>h6lname</key>
	<string></string>
	<key>h6position</key>
	<string></string>
	<key>h6pa</key>
	<string></string>
	<key>h6hits</key>
	<string></string>
	<key>h6runs</key>
	<string></string>
	<key>h6rbi</key>
	<string></string>
	<key>h6ba</key>
	<string></string>
	<key>h6hr</key>
	<string></string>
	<key>h7fname</key>
	<string></string>
	<key>h7lname</key>
	<string></string>
	<key>h7position</key>
	<string></string>
	<key>h7pa</key>
	<string></string>
	<key>h7hits</key>
	<string></string>
	<key>h7runs</key>
	<string></string>
	<key>h7rbi</key>
	<string></string>
	<key>h7ba</key>
	<string></string>
	<key>h7hr</key>
	<string></string>
	<key>h8fname</key>
	<string></string>
	<key>h8lname</key>
	<string></string>
	<key>h8position</key>
	<string></string>
	<key>h8pa</key>
	<string></string>
	<key>h8hits</key>
	<string></string>
	<key>h8runs</key>
	<string></string>
	<key>h8rbi</key>
	<string></string>
	<key>h8ba</key>
	<string></string>
	<key>h8hr</key>
	<string></string>
	<key>h9fname</key>
	<string></string>
	<key>h9lame</key>
	<string></string>
	<key>h9position</key>
	<string></string>
	<key>h9pa</key>
	<string></string>
	<key>h9hits</key>
	<string></string>
	<key>h9runs</key>
	<string></string>
	<key>h9rbi</key>
	<string></string>
	<key>h9ba</key>
	<string></string>
	<key>h9hr</key>
	<string></string>
	<key>AwayTeamLineupIndex</key>
	<integer>0</integer>
	<key>HomeTeamLineupIndex</key>
	<integer>0</integer>
	<key>AwayScore</key>
	<integer>0</integer>
	<key>HomeScore</key>
	<integer>0</integer>
	<key>IsBottomInning</key>
	<false/>
	<key>SideInning</key>
	<string>Top</string>
	<key>NumInning</key>
	<integer>1</integer>
	<key>Outs</key>
	<integer>0</integer>
	<key>Strikes</key>
	<integer>0</integer>
	<key>Balls</key>
	<integer>0</integer>
</dict>
</plist>
