<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AwayTeam</key>
	<dict>
		<key>a1</key>
		<dict>
			<key>fname</key>
			<string>a1 fname</string>
			<key>lname</key>
			<string>a1 lname</string>
			<key>position</key>
			<string>a1 pos</string>
			<key>pa</key>
			<integer>0</integer>
			<key>hits</key>
			<integer>0</integer>
			<key>rs</key>
			<integer>0</integer>
			<key>rbi</key>
			<integer>0</integer>
			<key>ba</key>
			<integer>0</integer>
			<key>hr</key>
			<integer>0</integer>
		</dict>
		<key>a2</key>
		<dict>
			<key>fname</key>
			<string>a2 fname</string>
			<key>lname</key>
			<string>a2 lname</string>
			<key>position</key>
			<string>a2 pos</string>
			<key>pa</key>
			<integer>0</integer>
			<key>hits</key>
			<integer>0</integer>
			<key>rs</key>
			<integer>0</integer>
			<key>rbi</key>
			<integer>0</integer>
			<key>ba</key>
			<integer>0</integer>
			<key>hr</key>
			<integer>0</integer>
		</dict>
		<key>a3</key>
		<dict>
			<key>fname</key>
			<string>a3 fname</string>
			<key>lname</key>
			<string>a3 lname</string>
			<key>position</key>
			<string>a3 pos</string>
			<key>pa</key>
			<integer>0</integer>
			<key>hits</key>
			<integer>0</integer>
			<key>rs</key>
			<integer>0</integer>
			<key>rbi</key>
			<integer>0</integer>
			<key>ba</key>
			<integer>0</integer>
			<key>hr</key>
			<integer>0</integer>
		</dict>
		<key>a4</key>
		<dict>
			<key>fname</key>
			<string>a4 fname</string>
			<key>lname</key>
			<string>a4 lname</string>
			<key>position</key>
			<string>a4 pos</string>
			<key>pa</key>
			<integer>0</integer>
			<key>hits</key>
			<integer>0</integer>
			<key>rs</key>
			<integer>0</integer>
			<key>rbi</key>
			<integer>0</integer>
			<key>ba</key>
			<integer>0</integer>
			<key>hr</key>
			<integer>0</integer>
		</dict>
		<key>a5</key>
		<dict>
			<key>fname</key>
			<string>a5 fname</string>
			<key>lname</key>
			<string>a5 lname</string>
			<key>position</key>
			<string>a5 pos</string>
			<key>pa</key>
			<integer>0</integer>
			<key>hits</key>
			<integer>0</integer>
			<key>rs</key>
			<integer>0</integer>
			<key>rbi</key>
			<integer>0</integer>
			<key>ba</key>
			<integer>0</integer>
			<key>hr</key>
			<integer>0</integer>
		</dict>
		<key>a6</key>
		<dict>
			<key>fname</key>
			<string>a6 fname</string>
			<key>lname</key>
			<string>a6 lname</string>
			<key>position</key>
			<string>a6 pos</string>
			<key>pa</key>
			<integer>0</integer>
			<key>hits</key>
			<integer>0</integer>
			<key>rs</key>
			<integer>0</integer>
			<key>rbi</key>
			<integer>0</integer>
			<key>ba</key>
			<integer>0</integer>
			<key>hr</key>
			<integer>0</integer>
		</dict>
		<key>a7</key>
		<dict>
			<key>fname</key>
			<string>a7 fname</string>
			<key>lname</key>
			<string>a7 lname</string>
			<key>position</key>
			<string>a7 pos</string>
			<key>pa</key>
			<integer>0</integer>
			<key>hits</key>
			<integer>0</integer>
			<key>rs</key>
			<integer>0</integer>
			<key>rbi</key>
			<integer>0</integer>
			<key>ba</key>
			<integer>0</integer>
			<key>hr</key>
			<integer>0</integer>
		</dict>
		<key>a8</key>
		<dict>
			<key>fname</key>
			<string>a8 fname</string>
			<key>lname</key>
			<string>a8 lname</string>
			<key>position</key>
			<string>a8 pos</string>
			<key>pa</key>
			<integer>0</integer>
			<key>hits</key>
			<integer>0</integer>
			<key>rs</key>
			<integer>0</integer>
			<key>rbi</key>
			<integer>0</integer>
			<key>ba</key>
			<integer>0</integer>
			<key>hr</key>
			<integer>0</integer>
		</dict>
		<key>a9</key>
		<dict>
			<key>fname</key>
			<string>a9 fname</string>
			<key>lname</key>
			<string>a9 lname</string>
			<key>position</key>
			<string>a9 pos</string>
			<key>pa</key>
			<integer>0</integer>
			<key>hits</key>
			<integer>0</integer>
			<key>rs</key>
			<integer>0</integer>
			<key>rbi</key>
			<integer>0</integer>
			<key>ba</key>
			<integer>0</integer>
			<key>hr</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>HomeTeam</key>
	<dict>
		<key>h1</key>
		<dict>
			<key>fname</key>
			<string>h1 fname</string>
			<key>lname</key>
			<string>h1 lname</string>
			<key>position</key>
			<string>h1 pos</string>
			<key>pa</key>
			<integer>0</integer>
			<key>hits</key>
			<integer>0</integer>
			<key>rs</key>
			<integer>0</integer>
			<key>rbi</key>
			<integer>0</integer>
			<key>ba</key>
			<integer>0</integer>
			<key>hr</key>
			<integer>0</integer>
		</dict>
		<key>h2</key>
		<dict>
			<key>fname</key>
			<string>h2 fname</string>
			<key>lname</key>
			<string>h2 lname</string>
			<key>position</key>
			<string>h2 pos</string>
			<key>pa</key>
			<integer>0</integer>
			<key>hits</key>
			<integer>0</integer>
			<key>rs</key>
			<integer>0</integer>
			<key>rbi</key>
			<integer>0</integer>
			<key>ba</key>
			<integer>0</integer>
			<key>hr</key>
			<integer>0</integer>
		</dict>
		<key>h3</key>
		<dict>
			<key>fname</key>
			<string>h3 fname</string>
			<key>lname</key>
			<string>h3 lname</string>
			<key>position</key>
			<string>h3 pos</string>
			<key>pa</key>
			<integer>0</integer>
			<key>hits</key>
			<integer>0</integer>
			<key>rs</key>
			<integer>0</integer>
			<key>rbi</key>
			<integer>0</integer>
			<key>ba</key>
			<integer>0</integer>
			<key>hr</key>
			<integer>0</integer>
		</dict>
		<key>h4</key>
		<dict>
			<key>fname</key>
			<string>h4 fname</string>
			<key>lname</key>
			<string>h4 lname</string>
			<key>position</key>
			<string>h4 pos</string>
			<key>pa</key>
			<integer>0</integer>
			<key>hits</key>
			<integer>0</integer>
			<key>rs</key>
			<integer>0</integer>
			<key>rbi</key>
			<integer>0</integer>
			<key>ba</key>
			<integer>0</integer>
			<key>hr</key>
			<integer>0</integer>
		</dict>
		<key>h5</key>
		<dict>
			<key>fname</key>
			<string>h5 fname</string>
			<key>lname</key>
			<string>h5 lname</string>
			<key>position</key>
			<string>h5 pos</string>
			<key>pa</key>
			<integer>0</integer>
			<key>hits</key>
			<integer>0</integer>
			<key>rs</key>
			<integer>0</integer>
			<key>rbi</key>
			<integer>0</integer>
			<key>ba</key>
			<integer>0</integer>
			<key>hr</key>
			<integer>0</integer>
		</dict>
		<key>h6</key>
		<dict>
			<key>fname</key>
			<string>h6 fname</string>
			<key>lname</key>
			<string>h6 lname</string>
			<key>position</key>
			<string>h6 pos</string>
			<key>pa</key>
			<integer>0</integer>
			<key>hits</key>
			<integer>0</integer>
			<key>rs</key>
			<integer>0</integer>
			<key>rbi</key>
			<integer>0</integer>
			<key>ba</key>
			<integer>0</integer>
			<key>hr</key>
			<integer>0</integer>
		</dict>
		<key>h7</key>
		<dict>
			<key>fname</key>
			<string>h7 fname</string>
			<key>lname</key>
			<string>h7 lname</string>
			<key>position</key>
			<string>h7 pos</string>
			<key>pa</key>
			<integer>0</integer>
			<key>hits</key>
			<integer>0</integer>
			<key>rs</key>
			<integer>0</integer>
			<key>rbi</key>
			<integer>0</integer>
			<key>ba</key>
			<integer>0</integer>
			<key>hr</key>
			<integer>0</integer>
		</dict>
		<key>h8</key>
		<dict>
			<key>fname</key>
			<string>h8 fname</string>
			<key>lname</key>
			<string>h8 lname</string>
			<key>position</key>
			<string>h8 pos</string>
			<key>pa</key>
			<integer>0</integer>
			<key>hits</key>
			<integer>0</integer>
			<key>rs</key>
			<integer>0</integer>
			<key>rbi</key>
			<integer>0</integer>
			<key>ba</key>
			<integer>0</integer>
			<key>hr</key>
			<integer>0</integer>
		</dict>
		<key>h9</key>
		<dict>
			<key>fname</key>
			<string>h9 fname</string>
			<key>lname</key>
			<string>h9 lname</string>
			<key>position</key>
			<string>h9 pos</string>
			<key>pa</key>
			<integer>0</integer>
			<key>hits</key>
			<integer>0</integer>
			<key>rs</key>
			<integer>0</integer>
			<key>rbi</key>
			<integer>0</integer>
			<key>ba</key>
			<integer>0</integer>
			<key>hr</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>AwayTeamLineupIndex</key>
	<integer>0</integer>
	<key>HomeTeamLineupIndex</key>
	<integer>0</integer>
	<key>AwayScore</key>
	<integer>0</integer>
	<key>HomeScore</key>
	<integer>0</integer>
	<key>IsBottomInning</key>
	<false/>
	<key>SideInning</key>
	<string>Top</string>
	<key>NumInning</key>
	<integer>1</integer>
	<key>Outs</key>
	<integer>0</integer>
	<key>Strikes</key>
	<integer>0</integer>
	<key>Balls</key>
	<integer>0</integer>
</dict>
</plist>
